.carousel-container {
    border: 1px solid red;
    overflow: hidden;
    position: relative;
}

.carousel-list-container{
    position: absolute;
    left: 0;
    top: 0;
}

.carousel-dir-container {
    position: absolute;
    bottom: 5px;
    left: 50%;
    z-index: 1000;
    transform: translate(-50%, 0);
}
